target/
dist/
.uv-cache/
.venv/
.pytest_cache/
.ruff_cache/
*.py[cod]
*.abi3*
.snakemake*
*_deduplicated.fastq.gz
/duplicated*.fastq.gz
/digested*.fastq.gz
/digest_output.fastq.gz
.vscode/



/stats.digestion.csv
/test.fq.gz
